{% extends "base.html" %}

{% block title %} TODOS {% endblock %}
{% block content %}
  <h1>Create TODO</h1>

<form action="{{ url_for('todos.create_todo') }}" method="post">
    <input type="text" name="title" id="title" placeholder="Title" required="required"> <br>
    <input type="text" name="description" id="description" placeholder="Description" required="required"> <br>
    Done <input type="checkbox" name="done"> <br>
    <input type="submit" value="Create Todo"> <br>
</form>

<br>
<a href="{{ url_for('core.index')}}"> Home </a>

{% endblock %}
